In [1]:
import pandas as pd
# Pandas provide two data structures
# 1 - Series 2- Data-Frame

# Series
x = [3,4,5,6,7,8]
var = pd.Series(x)
print(var)
print(type(var))
print(var[2])

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
<class 'pandas.core.series.Series'>
5

In [3]:
# Changing Index Value
x = [3,4,5,6,7,8]
var =pd.Series(x,index=['a','b','c','d','e','f'])
print(var)

a    3
b    4
c    5
d    6
e    7
f    8
dtype: int64

In [4]:
# Changing Data Type
x = [3,4,5,6,7,8]
var =pd.Series(x,index=['a','b','c','d','e','f'],dtype="float")
print(var)

a    3.0
b    4.0
c    5.0
d    6.0
e    7.0
f    8.0
dtype: float64

In [5]:
# Name Parameter
x = [3,4,5,6,7,8]
var =pd.Series(x,index=['a','b','c','d','e','f'],dtype="float",name="Python")
print(var)

a    3.0
b    4.0
c    5.0
d    6.0
e    7.0
f    8.0
Name: Python, dtype: float64

In [6]:
dic = {"name":['python','c','c++','java'],"por":[12,13,14],"rank":[1,2,3,4]}
var1 = pd.Series(dic)
print(var1)

name    [python, c, c++, java]
por               [12, 13, 14]
rank              [1, 2, 3, 4]
dtype: object

In [7]:
s = pd.Series(12)
print(s)

0    12
dtype: int64

In [8]:
s = pd.Series(12,index=[1,2,3,4,5,6,7])
print(s)

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64

In [9]:
s1 = pd.Series(12,index=[1,2,3,4,5,6,7])
s2 = pd.Series(12,index=[1,2,3,4])
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

# Data Frame

In [14]:
import pandas as pd
l = [1,2,3,4,5,6]
var = pd.DataFrame(l)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [7]:
d = {"a":[1,2,3,4,5,6],"b":[1,2,3,4,5,6]}
var = pd.Series(d)
var1 = pd.DataFrame(d)
print(var)
print()
print(type(var))
print("-"*35)
print(var1)
print()
print(type(var1))

a    [1, 2, 3, 4, 5, 6]
b    [1, 2, 3, 4, 5, 6]
dtype: object

<class 'pandas.core.series.Series'>
-----------------------------------
   a  b
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6

<class 'pandas.core.frame.DataFrame'>

In [20]:
d = {"a":[1,2,3,4,5,6],"b":[1,2,3,4,5,6],"c":[1,2,3,4,5,6],"d":[1,2,3,4,5,6]}
var1 = pd.DataFrame(d,columns = ["a","d"])
print(var1)
print(type(var1))

   a  d
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6
<class 'pandas.core.frame.DataFrame'>

In [10]:
d = {"a":[1,2,3,4,5,6],"b":[1,2,3,4,5,6],"c":[1,2,3,4,5,6],"d":[1,2,3,4,5,6]}
var1 = pd.DataFrame(d,columns = ["a","b","d"],index = ["a","b","c","d","e","f"])
print(var1)
print(type(var1))

   a  b  d
a  1  1  1
b  2  2  2
c  3  3  3
d  4  4  4
e  5  5  5
f  6  6  6
<class 'pandas.core.frame.DataFrame'>

In [11]:
d = {"a":[1,2,3,4,5,6],"b":[1,2,3,4,5,6],"c":[1,2,3,4,5,6],"d":[1,2,3,4,5,6]}
var1 = pd.DataFrame(d)
print(var1)
print()
print(type(var1))
print()
print(var1["a"][3])

   a  b  c  d
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5
5  6  6  6  6

<class 'pandas.core.frame.DataFrame'>

4

In [12]:
list_1 = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20]]
var2 = pd.DataFrame(list_1)
print(var2)
print()
print(type(var2))

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20

<class 'pandas.core.frame.DataFrame'>

In [14]:
sr = {"s":pd.Series([1,2,3,4,5]),"a":pd.Series([1,2,3,4,5])}
var3 = pd.DataFrame(sr,dtype=float)
print(var3)
print(type(var3))

     s    a
0  1.0  1.0
1  2.0  2.0
2  3.0  3.0
3  4.0  4.0
4  5.0  5.0
<class 'pandas.core.frame.DataFrame'>

# Arithmetic Operations In Pandas

In [35]:
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8],"C":[9,10,11,12]})
var

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [36]:
var["D"]=var["A"]+var["B"]
var

   A  B   C   D
0  1  5   9   6
1  2  6  10   8
2  3  7  11  10
3  4  8  12  12

In [37]:
var["E"]=var["A"]-var["B"]
var

   A  B   C   D  E
0  1  5   9   6 -4
1  2  6  10   8 -4
2  3  7  11  10 -4
3  4  8  12  12 -4

In [38]:
var["F"]=var["A"]*var["B"]
var

   A  B   C   D  E   F
0  1  5   9   6 -4   5
1  2  6  10   8 -4  12
2  3  7  11  10 -4  21
3  4  8  12  12 -4  32

In [41]:
var["G"]=var["A"]//var["B"]
var

   A  B   C   D  E   F  G
0  1  5   9   6 -4   5  0
1  2  6  10   8 -4  12  0
2  3  7  11  10 -4  21  0
3  4  8  12  12 -4  32  0

In [46]:
var["H"]=var["A"]%var["B"]
var

   A  B   C   D  E   F  G  H
0  1  5   9   6 -4   5  0  1
1  2  6  10   8 -4  12  0  2
2  3  7  11  10 -4  21  0  3
3  4  8  12  12 -4  32  0  4

In [42]:
var1 = pd.DataFrame({"A":[10,20,30,40],"B":[15,16,17,18]})
var1

    A   B
0  10  15
1  20  16
2  30  17
3  40  18

In [45]:
var1["Python"] = var1["A"] <= 20
var1["Python_1"] = var1["B"] >= 16
var1

    A   B  Python  Python_1
0  10  15    True     False
1  20  16    True      True
2  30  17   False      True
3  40  18   False      True

# Delet And Insert Data In DataFrame

In [3]:
# Insert
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5]})
var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [4]:
var.insert(1,"C",var["A"])
var.insert(1,"D",[1,2,3,4,5])
var

   A  D  C  B
0  1  1  1  9
1  2  2  2  8
2  3  3  3  7
3  4  4  4  6
4  5  5  5  5

In [25]:
var.insert(2,"Python",["Array","String","List","Tuple","Dictinorary"])

In [26]:
var

   A  C       Python  B
0  1  1        Array  9
1  2  2       String  8
2  3  3         List  7
3  4  4        Tuple  6
4  5  5  Dictinorary  5

In [12]:
var["Python_1"] = var["A"][0:3]
var["Python_1"][3] = 6
var["Python_1"][4] = 7

C:\Users\saransh\AppData\Local\Temp\ipykernel_20332\3172235897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var["Python_1"][3] = 6
C:\Users\saransh\AppData\Local\Temp\ipykernel_20332\3172235897.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var["Python_1"][4] = 7

In [18]:
var

   A  D  C  B
0  1  1  1  9
1  2  2  2  8
2  3  3  3  7
3  4  4  4  6
4  5  5  5  5

In [19]:
# Delet
var

var.pop("A")

var

   D  C  B
0  1  1  9
1  2  2  8
2  3  3  7
3  4  4  6
4  5  5  5

In [20]:
del var["C"]

In [21]:
var

   D  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

# CSV File In Python

In [1]:
import pandas as pd
dic = {"A":[1,2,3,4,5],"S":[1,2,3,4,5],"R":[1,2,3,4,5]}
d = pd.DataFrame(dic)
print(d)

   A  S  R
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5

In [2]:
d.to_csv("Test_new.csv")

In [3]:
d.to_csv("Test_new1.csv",index=False)

In [4]:
d.to_csv("Test_new2.csv",index=False,header=[1,2,3])

# Read CSV

In [1]:
# How to read, modify and to read special type of data from csv file?
import pandas as pd
csv_1 = pd.read_csv("mercedesbenz.csv")
csv_1

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [6]:
print(csv_1)

        ID       y  X0 X1  X2 X3 X4  X5 X6 X8  ...  X375  X376  X377  X378  \
0        0  130.81   k  v  at  a  d   u  j  o  ...     0     0     1     0
1        6   88.53   k  t  av  e  d   y  l  o  ...     1     0     0     0
2        7   76.26  az  w   n  c  d   x  j  x  ...     0     0     0     0
3        9   80.62  az  t   n  f  d   x  l  e  ...     0     0     0     0
4       13   78.02  az  v   n  f  d   h  d  n  ...     0     0     0     0
...    ...     ...  .. ..  .. .. ..  .. .. ..  ...   ...   ...   ...   ...
4204  8405  107.39  ak  s  as  c  d  aa  d  q  ...     1     0     0     0
4205  8406  108.77   j  o   t  d  d  aa  h  h  ...     0     1     0     0
4206  8412  109.22  ak  v   r  a  d  aa  g  e  ...     0     0     1     0
4207  8415   87.48  al  r   e  f  d  aa  l  u  ...     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  aa  g  w  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     1     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 378 columns]

In [49]:
csv_1

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [12]:
csv_2 = pd.read_csv("mercedesbenz.csv",nrows = 1)
print(type(csv_2))
csv_2

<class 'pandas.core.frame.DataFrame'>

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0

In [13]:
csv_2 = pd.read_csv("mercedesbenz.csv",nrows = 5)
print(type(csv_2))
csv_2

<class 'pandas.core.frame.DataFrame'>

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [56]:
csv_2 = pd.read_csv("mercedesbenz.csv",nrows = 5,usecols = ["ID","y","X0","X1"])
print(type(csv_2))
csv_2

<class 'pandas.core.frame.DataFrame'>

   ID       y  X0 X1
0   0  130.81   k  v
1   6   88.53   k  t
2   7   76.26  az  w
3   9   80.62  az  t
4  13   78.02  az  v

In [67]:
csv_3 = pd.read_csv("mercedesbenz.csv",skiprows=[0,3],nrows = 5)
print(type(csv_3))
csv_3

<class 'pandas.core.frame.DataFrame'>

,0,130.81,k,v,at,a,d,u,j,o,...,0.308,0.309,1.51,0.310,0.311,0.312,0.313,0.314,0.315,0.316
0,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
1,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
2,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
3,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
4,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0

In [2]:
csv_3 = pd.read_csv("mercedesbenz.csv",skiprows=[0,3,5],nrows = 5)
print(type(csv_3))
csv_3

<class 'pandas.core.frame.DataFrame'>

,0,130.81,k,v,at,a,d,u,j,o,...,0.308,0.309,1.51,0.310,0.311,0.312,0.313,0.314,0.315,0.316
0,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
1,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
2,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
3,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
4,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0

In [3]:
csv_4 = pd.read_csv("mercedesbenz.csv",index_col="ID" ,nrows = 5)
print(type(csv_3))
csv_4

<class 'pandas.core.frame.DataFrame'>

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,,,,,,,,,,,,,,,,,,,,,
0,130.81,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
6,88.53,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
7,76.26,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
9,80.62,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
13,78.02,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
csv_4 = pd.read_csv("mercedesbenz.csv",skiprows=[1,3],nrows = 5,usecols = ["ID","y","X0","X1"])
print(type(csv_4))
csv_4

<class 'pandas.core.frame.DataFrame'>

   ID       y  X0 X1
0   6   88.53   k  t
1   9   80.62  az  t
2  13   78.02  az  v
3  18   92.93   t  b
4  24  128.76  al  r

In [70]:
csv_5 = pd.read_csv("mercedesbenz.csv",nrows = 5,usecols = ["ID","y","X0","X1"],index_col = "ID")
print(type(csv_5))
csv_5

<class 'pandas.core.frame.DataFrame'>

         y  X0 X1
ID
0   130.81   k  v
6    88.53   k  t
7    76.26  az  w
9    80.62  az  t
13   78.02  az  v

In [72]:
csv_5 = pd.read_csv("mercedesbenz.csv",nrows = 5, header = 1)
print(type(csv_5))
csv_5

<class 'pandas.core.frame.DataFrame'>

,0,130.81,k,v,at,a,d,u,j,o,...,0.308,0.309,1.51,0.310,0.311,0.312,0.313,0.314,0.315,0.316
0,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
1,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
2,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
3,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
4,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0

In [12]:
csv_6 = pd.read_csv("mercedesbenz.csv",nrows = 5,names=["col1","col2","col3","col4"])
print(type(csv_6))
csv_6

<class 'pandas.core.frame.DataFrame'>

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,col1,col2,col3,col4
ID,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24,X26,X27,X28,X29,X30,X31,X32,X33,X34,X35,X36,X37,X38,X39,X40,X41,X42,X43,X44,X45,X46,X47,X48,X49,X50,X51,X52,X53,X54,X55,X56,X57,X58,X59,X60,X61,X62,X63,X64,X65,X66,X67,X68,X69,X70,X71,X73,X74,X75,X76,X77,X78,X79,X80,X81,X82,X83,X84,X85,X86,X87,X88,X89,X90,X91,X92,X93,X94,X95,X96,X97,X98,X99,X100,X101,X102,X103,X104,X105,X106,X107,X108,X109,X110,X111,X112,X113,X114,X115,X116,X117,X118,X119,X120,X122,X123,X124,X125,X126,X127,X128,X129,X130,X131,X132,X133,X134,X135,X136,X137,X138,X139,X140,X141,X142,X143,X144,X145,X146,X147,X148,X150,X151,X152,X153,X154,X155,X156,X157,X158,X159,X160,X161,X162,X163,X164,X165,X166,X167,X168,X169,X170,X171,X172,X173,X174,X175,X176,X177,X178,X179,X180,X181,X182,X183,X184,X185,X186,X187,X189,X190,X191,X192,X194,X195,X196,X197,X198,X199,X200,X201,X202,X203,X204,X205,X206,X207,X208,X209,X210,X211,X212,X213,X214,X215,X216,X217,X218,X219,X220,X221,X222,X223,X224,X225,X226,X227,X228,X229,X230,X231,X232,X233,X234,X235,X236,X237,X238,X239,X240,X241,X242,X243,X244,X245,X246,X247,X248,X249,X250,X251,X252,X253,X254,X255,X256,X257,X258,X259,X260,X261,X262,X263,X264,X265,X266,X267,X268,X269,X270,X271,X272,X273,X274,X275,X276,X277,X278,X279,X280,X281,X282,X283,X284,X285,X286,X287,X288,X289,X290,X291,X292,X293,X294,X295,X296,X297,X298,X299,X300,X301,X302,X304,X305,X306,X307,X308,X309,X310,X311,X312,X313,X314,X315,X316,X317,X318,X319,X320,X321,X322,X323,X324,X325,X326,X327,X328,X329,X330,X331,X332,X333,X334,X335,X336,X337,X338,X339,X340,X341,X342,X343,X344,X345,X346,X347,X348,X349,X350,X351,X352,X353,X354,X355,X356,X357,X358,X359,X360,X361,X362,X363,X364,X365,X366,X367,X368,X369,X370,X371,X372,X373,X374,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,k,v,at,a,d,u,j,o,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,1,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
6,88.53,k,t,av,e,d,y,l,o,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
7,76.26,az,w,n,c,d,x,j,x,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,1,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1,0,1,1,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
9,80.62,az,t,n,f,d,x,l,e,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [2]:
csv_7 = pd.read_csv("mercedesbenz.csv",nrows = 5,header=None )
print(type(csv_7))
csv_7

<class 'pandas.core.frame.DataFrame'>

,0,1,2,3,4,5,6,7,8,9,...,368,369,370,371,372,373,374,375,376,377
0,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
1,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
2,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
3,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
4,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0

In [21]:
csv_7 = pd.read_csv("mercedesbenz.csv",nrows = 5,usecols=["ID","y","X0","X1"])
print(type(csv_7))
csv_7

<class 'pandas.core.frame.DataFrame'>

   ID       y  X0 X1
0   0  130.81   k  v
1   6   88.53   k  t
2   7   76.26  az  w
3   9   80.62  az  t
4  13   78.02  az  v

In [23]:
csv_7 = pd.read_csv("mercedesbenz.csv",nrows = 5, header=None, prefix="le" )
print(type(csv_7))
csv_7

<class 'pandas.core.frame.DataFrame'>

C:\Users\saransh\AppData\Local\Temp\ipykernel_17780\3080963221.py:1: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  csv_7 = pd.read_csv("mercedesbenz.csv",nrows = 5, header=None, prefix="le" )

,le0,le1,le2,le3,le4,le5,le6,le7,le8,le9,...,le368,le369,le370,le371,le372,le373,le374,le375,le376,le377
0,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
1,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
2,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
3,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
4,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0

In [12]:
csv_1 = pd.read_csv("mercedesbenz.csv",dtype={"ID":"float"})
csv_1

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0.0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6.0,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7.0,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9.0,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13.0,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405.0,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406.0,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412.0,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415.0,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417.0,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

# Functions Pandas CSV Files

In [1]:
import pandas as pd
csv_1 = pd.read_csv("mercedesbenz.csv")
csv_1

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [3]:
csv_1.index

RangeIndex(start=0, stop=4209, step=1)

In [4]:
csv_1.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [5]:
csv_1.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
csv_1.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [7]:
csv_1.head(6)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0

In [8]:
csv_1.tail()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [9]:
csv_1.tail(10)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
4199,8395,88.24,t,aa,ay,c,d,aa,l,o,...,1,0,0,0,0,0,0,0,0,0
4200,8397,108.59,z,aa,e,c,d,aa,i,w,...,1,0,0,0,0,0,0,0,0,0
4201,8399,107.39,w,v,t,d,d,aa,h,g,...,0,1,0,0,0,0,0,0,0,0
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4203,8403,85.71,aq,s,as,c,d,aa,a,g,...,1,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [10]:
csv_1[:4]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0

In [11]:
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [12]:
csv_1.index.array

<PandasArray>
[   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
 ...
 4199, 4200, 4201, 4202, 4203, 4204, 4205, 4206, 4207, 4208]
Length: 4209, dtype: int64

In [13]:
csv_1.to_numpy()

array([[0, 130.81, 'k', ..., 0, 0, 0],
       [6, 88.53, 'k', ..., 0, 0, 0],
       [7, 76.26, 'az', ..., 0, 0, 0],
       ...,
       [8412, 109.22, 'ak', ..., 0, 0, 0],
       [8415, 87.48, 'al', ..., 0, 0, 0],
       [8417, 110.85, 'z', ..., 0, 0, 0]], dtype=object)

In [2]:
import numpy as np
v = np.asarray(csv_1)
v

array([[0, 130.81, 'k', ..., 0, 0, 0],
       [6, 88.53, 'k', ..., 0, 0, 0],
       [7, 76.26, 'az', ..., 0, 0, 0],
       ...,
       [8412, 109.22, 'ak', ..., 0, 0, 0],
       [8415, 87.48, 'al', ..., 0, 0, 0],
       [8417, 110.85, 'z', ..., 0, 0, 0]], dtype=object)

In [3]:
csv_1.sort_index(axis=0,ascending=False)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0

In [4]:
csv_1.sort_index(axis=1,ascending=False)

,y,X99,X98,X97,X96,X95,X94,X93,X92,X91,...,X105,X104,X103,X102,X101,X100,X10,X1,X0,ID
0,130.81,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,v,k,0
1,88.53,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,1,0,t,k,6
2,76.26,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,w,az,7
3,80.62,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,t,az,9
4,78.02,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,v,az,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,107.39,0,1,0,1,0,0,0,0,0,...,0,0,1,0,1,1,0,s,ak,8405
4205,108.77,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,o,j,8406
4206,109.22,0,1,0,1,0,0,0,0,0,...,0,0,1,0,1,1,0,v,ak,8412
4207,87.48,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,r,al,8415
4208,110.85,0,1,0,1,0,0,0,0,0,...,0,0,1,0,1,1,0,r,z,8417

In [7]:
csv_1["y"][0]="python"
csv_1

C:\Users\saransh\AppData\Local\Temp\ipykernel_16752\2992426380.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_1["y"][0]="python"

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,python,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [8]:
csv_1.loc[0,"ID"]="python"
csv_1

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,python,python,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [10]:
csv_1.loc[:,["ID","y"]]

          ID       y
0     python  python
1          6   88.53
2          7   76.26
3          9   80.62
4         13   78.02
...      ...     ...
4204    8405  107.39
4205    8406  108.77
4206    8412  109.22
4207    8415   87.48
4208    8417  110.85

[4209 rows x 2 columns]

In [11]:
csv_1.loc[[2,3],:]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0

In [12]:
csv_1.iloc[0,1]

'python'

In [13]:
csv_1.iloc[0,3]

'v'

In [16]:
csv_1.drop(0,axis=0)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [17]:
csv_1.drop(["X376"],axis=1)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X374,X375,X377,X378,X379,X380,X382,X383,X384,X385
0,python,python,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,0,1,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,0,1,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,0,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,1,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,0,1,0,0,0,0,0,0,0,0

# Handling Missing Value (Dropna & Fillna)

In [18]:
import pandas as pd

In [23]:
csv_2 = pd.read_csv("Football.csv")
csv_2

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [24]:
csv_2.dropna()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [22]:
csv_2.dropna(axis=1)

   Country   League    Club       Player Names  Shots Per Avg Match  Year
0    Spain  La Liga   (BET)    Juanmi Callejon                 2.47  2016
1    Spain  La Liga   (BAR)  Antoine Griezmann                 2.67  2016
2    Spain  La Liga   (ATL)        Luis Suarez                 3.88  2016
3    Spain  La Liga   (CAR)       Ruben Castro                 3.91  2016
4    Spain  La Liga   (VAL)      Kevin Gameiro                 2.72  2016
5    Spain  La Liga   (JUV)  Cristiano Ronaldo                 5.84  2016
6    Spain  La Liga   (RMA)      Karim Benzema                 3.33  2016
7    Spain  La Liga   (PSG)            Neymar                  3.70  2016
8    Spain  La Liga   (CEL)         Iago Aspas                 3.15  2016
9    Spain  La Liga   (EIB)       Sergi Enrich                 2.09  2016
10   Spain  La Liga    None            Aduriz                  3.26  2016
11   Spain  La Liga   (HUE)     Sandro Ramlrez                 3.78  2016
12   Spain  La Liga   (BAR)       Lionel Messi                 5.84  2016
13   Spain  La Liga   (VIL)      Gerard Moreno                 2.32  2016
14   Spain  La Liga   (JUV)             Morata                 3.75  2016
15   Spain  La Liga   (MON)  Wissam Ben Yedder                 2.41  2016
16   Spain  La Liga   (SOC)       Willian Jose                 3.12  2016
17   Spain  La Liga  Florin            Andone                  3.15  2016
18   Spain  La Liga   (SOC)     Cedric Bakambu                 2.91  2016
19   Spain  La Liga   (RMA)               Isco                 1.80  2016
20   Italy  Serie A   (LIV)      Mohamed Salah                 2.96  2016
21   Italy  Serie A   (SAS)    Gregoire Defrel                 1.99  2016
22   Italy  Serie A   (LAZ)      Ciro Immobile                 3.92  2016
23   Italy  Serie A   (VER)     Nikola Kalinic                 3.23  2016
24   Italy  Serie A   (NAP)      Dries Mertens                 5.26  2016

In [26]:
csv_3 = pd.read_csv("Football.csv")
csv_3

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [28]:
csv_3.dropna(how="all")

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [29]:
csv_3.dropna(how="any")

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [30]:
csv_3.dropna(subset=["Matches_Played"])

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [32]:
csv_3.dropna(inplace=True)
csv_3

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [34]:
csv_4 = pd.read_csv("Football.csv")
csv_4

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [37]:
csv_4.dropna(how="all")

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [41]:
csv_4.dropna(thresh = 1)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [42]:
csv_4.fillna("python")

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,python,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.4,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,python,python,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,python,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,python,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,python,13.0,13.33,0.47,python,42.0,3.7,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,python,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,python,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,python,8.49,0.24,82.0,32.0,2.32,0.9,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,python,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.8,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,python,python,python,python,python,python,python,python,python,python,python,python,python,python,python
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,python,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [55]:
csv_4.fillna({"Matches_Played":"python","Mins":"CLang","Goals":"+","Substitution":"Hi"})

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,CLang,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,python,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,CLang,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,+,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,+,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,+,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,python,NaN,CLang,+,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [56]:
csv_4.fillna(method="ffill")

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,3129.0,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,14.06,0.47,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,10.0,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,29.0,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,1967.0,13.0,13.33,0.47,69.0,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,13.0,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,14.0,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,14.0,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,29.0,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,2.83,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [57]:
csv_4.fillna(method="bfill")

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,2842.0,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,24.68,0.89,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,6.0,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,30.0,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,2354.0,13.0,13.33,0.47,78.0,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,11.0,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,13.0,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,13.0,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,26.0,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,3.63,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [58]:
csv_4.fillna(method="bfill",axis=0)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,2842.0,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,24.68,0.89,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,6.0,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,30.0,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,2354.0,13.0,13.33,0.47,78.0,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,11.0,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,13.0,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,13.0,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,26.0,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,3.63,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [60]:
csv_4.fillna(method="ffill",axis=1)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,1.0,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.4,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,13.0,13.0,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,29.0,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,Karim Benzema,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,0.0,13.0,13.33,0.47,0.47,42.0,3.7,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,2354.0,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,2910.0,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,3361.0,8.49,0.24,82.0,32.0,2.32,0.9,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,99.0,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.8,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,3.23,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [62]:
csv_4.fillna(12,inplace=True)
csv_4

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,12.0,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,12.00,12.00,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,12.0,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,12.0,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,12.0,13.0,13.33,0.47,12.0,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,12.0,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,12.0,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,12.0,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,12.0,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,12,12,12,12,12.0,12.0,12.0,12.0,12.00,12.00,12.0,12.0,12.00,12.00,12.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,12.00,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [64]:
csv_4.fillna("python",limit=1)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,12.0,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,12.00,12.00,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,12.0,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,12.0,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,12.0,13.0,13.33,0.47,12.0,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,12.0,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,12.0,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,12.0,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,12.0,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,12,12,12,12,12.0,12.0,12.0,12.0,12.00,12.00,12.0,12.0,12.00,12.00,12.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,12.00,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [3]:
import pandas as pd

# Replace

In [4]:
csv_5 = pd.read_csv("Football.csv")
csv_5

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [5]:
csv_5.replace(to_replace=1.0,value=22.0)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,22.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,22.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,22.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [6]:
csv_5.replace(["Spain","La Liga"],22)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,22,22,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,22,22,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,22,22,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,22,22,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,22,22,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,22,22,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,22,22,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,22,22,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,22,22,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,22,22,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,22,22,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,22,22,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,22,22,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,22,22,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,22,22,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,22,22,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,22,22,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,22,22,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,22,22,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,22,22,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [7]:
csv_5.replace( )

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,3129.0,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,14.06,0.47,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,10.0,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,29.0,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,1967.0,13.0,13.33,0.47,69.0,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,13.0,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,14.0,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,14.0,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,29.0,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,2.83,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [8]:
csv_5.replace("[A-Za-z]","Python",regex=True)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPython PythonPyt...,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPythonPython Pyt...,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPython PythonPythonPythonPyt...,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPython PythonPythonPyt...,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPython PythonPythonPyt...,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPythonPythonPyth...,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPython PythonPythonPyt...,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPython,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPython PythonPythonPythonPyt...,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPython PythonPythonPyt...,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,PythonPythonPythonPython,PythonPythonPythonPythonPythonPython,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPython PythonPyt...,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPython PythonPyt...,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPython PythonPyt...,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPython,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPython PythonPyt...,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPythonPython Pyt...,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,PythonPythonPythonPythonPythonPython,PythonPythonPythonPythonPythonPython,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPythonPythonPython PythonPyt...,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,PythonPythonPythonPythonPython,PythonPython PythonPythonPythonPython,(PythonPythonPython),PythonPythonPythonPython,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,PythonPythonPythonPythonPython,PythonPythonPythonPythonPython Python,(PythonPythonPython),PythonPythonPythonPythonPythonPythonPython Pyt...,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,PythonPythonPythonPythonPython,PythonPythonPythonPythonPython Python,(PythonPythonPython),PythonPythonPythonPython PythonPythonPythonPyt...,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,PythonPythonPythonPythonPython,PythonPythonPythonPythonPython Python,(PythonPythonPython),PythonPythonPythonPythonPythonPython PythonPyt...,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,PythonPythonPythonPythonPython,PythonPythonPythonPythonPython Python,(PythonPythonPython),PythonPythonPythonPythonPython PythonPythonPyt...,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [15]:
csv_5.replace({11:22,1:22})

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,22.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,22.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,22.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,22.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,22.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,22.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,22.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [20]:
csv_5.replace({"Country":"[A-Z]"},"Python",regex=True)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Pythonpain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Pythonpain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Pythonpain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Pythonpain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Pythonpain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Pythonpain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Pythonpain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Pythonpain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Pythonpain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Pythonpain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Pythonpain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Pythonpain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Pythonpain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Pythonpain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Pythonpain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Pythonpain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Pythonpain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Pythonpain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Pythonpain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Pythonpain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Pythontaly,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Pythontaly,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Pythontaly,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Pythontaly,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [23]:
csv_5.replace(1,method="ffill",limit=1)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,0.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,11.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,NaN,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [25]:
csv_5.replace(1,method="ffill",limit=2,inplace=True)

In [26]:
csv_5

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,0.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,11.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,NaN,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

# Interpolate

In [27]:
import pandas as pd

In [29]:
var = pd.read_csv("Football.csv")
var

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [30]:
var.interpolate()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.000000,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.000000,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,2985.5,28.000000,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.000000,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.000000,19.37,0.68,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,8.0,2634.0,42.000000,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,29.5,6.0,1967.0,11.000000,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,2160.5,13.000000,13.33,0.47,73.5,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,12.000000,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.000000,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.000000,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.000000,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,13.666667,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,13.333333,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.000000,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.000000,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.000000,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.000000,11.62,0.37,99.0,27.5,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.000000,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.000000,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.000000,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,32.0,1.5,2930.5,13.000000,15.69,0.50,108.0,74.0,3.44,2.34,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.000000,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.000000,15.05,0.54,90.0,61.0,3.23,3.23,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.000000,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [31]:
var.interpolate(method="nearest")

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,3129.0,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,14.06,0.47,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,10.0,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,29.0,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,1967.0,13.0,13.33,0.47,69.0,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,13.0,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,14.0,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,13.0,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,29.0,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,2.83,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [34]:
var.interpolate(axis=0)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.000000,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.000000,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,2985.5,28.000000,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.000000,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.000000,19.37,0.68,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,8.0,2634.0,42.000000,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,29.5,6.0,1967.0,11.000000,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,2160.5,13.000000,13.33,0.47,73.5,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,12.000000,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.000000,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.000000,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.000000,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,13.666667,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,13.333333,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.000000,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.000000,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.000000,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.000000,11.62,0.37,99.0,27.5,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.000000,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.000000,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.000000,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,32.0,1.5,2930.5,13.000000,15.69,0.50,108.0,74.0,3.44,2.34,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.000000,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.000000,15.05,0.54,90.0,61.0,3.23,3.23,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.000000,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [38]:
var.interpolate(limit_direction="forward",limit=2)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.000000,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.000000,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,2985.5,28.000000,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.000000,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.000000,19.37,0.68,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,8.0,2634.0,42.000000,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,29.5,6.0,1967.0,11.000000,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,2160.5,13.000000,13.33,0.47,73.5,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,12.000000,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.000000,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.000000,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.000000,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,13.666667,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,13.333333,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.000000,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.000000,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.000000,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.000000,11.62,0.37,99.0,27.5,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.000000,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.000000,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.000000,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,32.0,1.5,2930.5,13.000000,15.69,0.50,108.0,74.0,3.44,2.34,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.000000,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.000000,15.05,0.54,90.0,61.0,3.23,3.23,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.000000,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [39]:
var.interpolate(limit_direction="backward",limit=2)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.000000,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.000000,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,2985.5,28.000000,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.000000,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.000000,19.37,0.68,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,8.0,2634.0,42.000000,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,29.5,6.0,1967.0,11.000000,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,2160.5,13.000000,13.33,0.47,73.5,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,12.000000,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.000000,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.000000,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.000000,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,13.666667,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,13.333333,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.000000,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.000000,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.000000,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.000000,11.62,0.37,99.0,27.5,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.000000,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.000000,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.000000,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,32.0,1.5,2930.5,13.000000,15.69,0.50,108.0,74.0,3.44,2.34,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.000000,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.000000,15.05,0.54,90.0,61.0,3.23,3.23,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.000000,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [40]:
var.interpolate(limit_direction="both",limit=2)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.000000,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.000000,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,2985.5,28.000000,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.000000,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.000000,19.37,0.68,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,8.0,2634.0,42.000000,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,29.5,6.0,1967.0,11.000000,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,2160.5,13.000000,13.33,0.47,73.5,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,12.000000,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.000000,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.000000,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.000000,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,13.666667,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,13.333333,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.000000,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.000000,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.000000,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.000000,11.62,0.37,99.0,27.5,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.000000,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.000000,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.000000,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,32.0,1.5,2930.5,13.000000,15.69,0.50,108.0,74.0,3.44,2.34,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.000000,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.000000,15.05,0.54,90.0,61.0,3.23,3.23,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.000000,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [41]:
var.interpolate(limit_area="inside")

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.000000,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.000000,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,2985.5,28.000000,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.000000,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.000000,19.37,0.68,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,8.0,2634.0,42.000000,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,29.5,6.0,1967.0,11.000000,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,2160.5,13.000000,13.33,0.47,73.5,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,12.000000,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.000000,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.000000,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.000000,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,13.666667,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,13.333333,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.000000,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.000000,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.000000,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.000000,11.62,0.37,99.0,27.5,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.000000,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.000000,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.000000,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,32.0,1.5,2930.5,13.000000,15.69,0.50,108.0,74.0,3.44,2.34,2016.0
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.000000,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.000000,15.05,0.54,90.0,61.0,3.23,3.23,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.000000,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

In [42]:
var.interpolate(limit_area="outside")

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19.0,16.0,1849.0,11.0,6.62,0.34,48.0,20.0,2.47,1.03,2016.0
1,Spain,La Liga,(BAR),Antoine Griezmann,36.0,0.0,3129.0,16.0,11.86,0.36,88.0,41.0,2.67,1.24,2016.0
2,Spain,La Liga,(ATL),Luis Suarez,34.0,1.0,NaN,28.0,23.21,0.75,120.0,57.0,3.88,1.84,2016.0
3,Spain,La Liga,(CAR),Ruben Castro,32.0,3.0,2842.0,13.0,14.06,0.47,117.0,42.0,3.91,1.40,2016.0
4,Spain,La Liga,(VAL),Kevin Gameiro,21.0,10.0,1745.0,13.0,NaN,NaN,50.0,23.0,2.72,1.25,2016.0
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29.0,NaN,2634.0,42.0,24.68,0.89,162.0,60.0,5.84,2.16,2016.0
6,Spain,La Liga,(RMA),Karim Benzema,NaN,6.0,1967.0,11.0,13.25,0.64,69.0,34.0,3.33,1.64,2016.0
7,Spain,La Liga,(PSG),Neymar,30.0,0.0,NaN,13.0,13.33,0.47,NaN,42.0,3.70,1.48,2016.0
8,Spain,La Liga,(CEL),Iago Aspas,25.0,7.0,2354.0,NaN,13.88,0.56,78.0,37.0,3.15,1.49,2016.0
9,Spain,La Liga,(EIB),Sergi Enrich,31.0,7.0,2904.0,11.0,8.25,0.27,64.0,26.0,2.09,0.85,2016.0
10,Spain,La Liga,None,Aduriz,27.0,5.0,2480.0,16.0,15.92,0.61,85.0,45.0,3.26,1.72,2016.0
11,Spain,La Liga,(HUE),Sandro Ramlrez,28.0,2.0,2340.0,14.0,7.14,0.29,93.0,38.0,3.78,1.54,2016.0
12,Spain,La Liga,(BAR),Lionel Messi,32.0,2.0,2910.0,NaN,26.65,0.87,179.0,76.0,5.84,2.48,2016.0
13,Spain,La Liga,(VIL),Gerard Moreno,37.0,0.0,3361.0,NaN,8.49,0.24,82.0,32.0,2.32,0.90,2016.0
14,Spain,La Liga,(JUV),Morata,14.0,12.0,1392.0,13.0,9.67,0.66,55.0,30.0,3.75,2.05,2016.0
15,Spain,La Liga,(MON),Wissam Ben Yedder,20.0,11.0,1735.0,13.0,7.85,0.43,44.0,23.0,2.41,1.26,2016.0
16,Spain,La Liga,(SOC),Willian Jose,27.0,1.0,1735.0,13.0,8.41,0.38,69.0,29.0,3.12,1.31,2016.0
17,Spain,La Liga,Florin,Andone,32.0,5.0,2984.0,13.0,11.62,0.37,99.0,NaN,3.15,1.34,2016.0
18,Spain,La Liga,(SOC),Cedric Bakambu,32.0,9.0,1633.0,13.0,8.08,0.47,50.0,26.0,2.91,1.51,2016.0
19,Spain,La Liga,(RMA),Isco,18.0,12.0,1690.0,13.0,3.91,0.22,32.0,15.0,1.80,0.84,2016.0
20,Italy,Serie A,(LIV),Mohamed Salah,29.0,2.0,2567.0,13.0,11.62,0.43,80.0,50.0,2.96,1.85,2016.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Italy,Serie A,(LAZ),Ciro Immobile,35.0,1.0,3294.0,13.0,19.76,0.57,136.0,98.0,3.92,2.83,2016.0
23,Italy,Serie A,(VER),Nikola Kalinic,26.0,6.0,2648.0,13.0,15.05,0.54,90.0,61.0,3.23,NaN,2016.0
24,Italy,Serie A,(NAP),Dries Mertens,28.0,7.0,2671.0,13.0,21.65,0.77,148.0,102.0,5.26,3.63,2016.0

# Merge

In [1]:
import pandas as pd

In [7]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,4],"C":[15,16,17,18]})
pd.merge(var1,var2,on="A")

   A   B   C
0  1  11  15
1  2  12  16
2  3  13  17
3  4  14  18

In [9]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,4],"C":[15,16,17,18]})
pd.merge(var2,var1,on="A")

   A   C   B
0  1  15  11
1  2  16  12
2  3  17  13
3  4  18  14

In [10]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5],"C":[15,16,17,18]})
pd.merge(var1,var2,on="A")

   A   B   C
0  1  11  15
1  2  12  16
2  3  13  17

In [12]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5],"C":[15,16,17,18]})
pd.merge(var1,var2)

   A   B   C
0  1  11  15
1  2  12  16
2  3  13  17

In [13]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5],"C":[15,16,17,18]})
pd.merge(var1,var2,how="inner")

   A   B   C
0  1  11  15
1  2  12  16
2  3  13  17

In [14]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5],"C":[15,16,17,18]})
pd.merge(var1,var2,how="left")

   A   B     C
0  1  11  15.0
1  2  12  16.0
2  3  13  17.0
3  4  14   NaN

In [15]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5],"C":[15,16,17,18]})
pd.merge(var1,var2,how="right")

   A     B   C
0  1  11.0  15
1  2  12.0  16
2  3  13.0  17
3  5   NaN  18

In [16]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5],"C":[15,16,17,18]})
pd.merge(var1,var2,how="outer")

   A     B     C
0  1  11.0  15.0
1  2  12.0  16.0
2  3  13.0  17.0
3  4  14.0   NaN
4  5   NaN  18.0

In [17]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5],"C":[15,16,17,18]})
pd.merge(var1,var2,how="outer",indicator = True)

   A     B     C      _merge
0  1  11.0  15.0        both
1  2  12.0  16.0        both
2  3  13.0  17.0        both
3  4  14.0   NaN   left_only
4  5   NaN  18.0  right_only

In [18]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5],"B":[15,16,17,18]})
pd.merge(var1,var2)

Empty DataFrame
Columns: [A, B]
Index: []

In [19]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5],"B":[15,16,17,18]})
pd.merge(var1,var2,left_index=True,right_index=True)

   A_x  B_x  A_y  B_y
0    1   11    1   15
1    2   12    2   16
2    3   13    3   17
3    4   14    5   18

In [22]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"A":[1,2,3,5],"B":[15,16,17,18]})
pd.merge(var1,var2,left_index=True,right_index=True,suffixes=("name","python"))

   Aname  Bname  Apython  Bpython
0      1     11        1       15
1      2     12        2       16
2      3     13        3       17
3      4     14        5       18

# Concat

In [23]:
sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([15,16,17,18])
sr1

0    1
1    2
2    3
3    4
dtype: int64

In [24]:
sr2

0    15
1    16
2    17
3    18
dtype: int64

In [25]:
pd.concat([sr1,sr2])

0     1
1     2
2     3
3     4
0    15
1    16
2    17
3    18
dtype: int64

In [26]:
d1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
d2 = pd.DataFrame({"A":[1,2,3,5],"B":[15,16,17,18]})
pd.concat([d1,d2])

   A   B
0  1  11
1  2  12
2  3  13
3  4  14
0  1  15
1  2  16
2  3  17
3  5  18

In [27]:
pd.concat([d1,d2],axis=1)

   A   B  A   B
0  1  11  1  15
1  2  12  2  16
2  3  13  3  17
3  4  14  5  18

In [28]:
pd.concat([d1,d2],axis=0)

   A   B
0  1  11
1  2  12
2  3  13
3  4  14
0  1  15
1  2  16
2  3  17
3  5  18

In [30]:
d1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
d2 = pd.DataFrame({"A":[1,2,3,5],"C":[15,16,17,18]})
pd.concat([d1,d2],axis=1)

   A   B  A   C
0  1  11  1  15
1  2  12  2  16
2  3  13  3  17
3  4  14  5  18

In [31]:
d1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
d2 = pd.DataFrame({"A":[1,2],"C":[15,16]})
pd.concat([d1,d2],axis=1)

   A   B    A     C
0  1  11  1.0  15.0
1  2  12  2.0  16.0
2  3  13  NaN   NaN
3  4  14  NaN   NaN

In [32]:
d1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
d2 = pd.DataFrame({"A":[1,2],"C":[15,16]})
pd.concat([d1,d2],axis=1,join="inner")

   A   B  A   C
0  1  11  1  15
1  2  12  2  16

In [33]:
d1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
d2 = pd.DataFrame({"A":[1,2],"C":[15,16]})
pd.concat([d1,d2],axis=1,join="outer")

   A   B    A     C
0  1  11  1.0  15.0
1  2  12  2.0  16.0
2  3  13  NaN   NaN
3  4  14  NaN   NaN

In [39]:
d1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
d2 = pd.DataFrame({"A":[1,2,3,4],"C":[15,16,17,18]})
pd.concat([d1,d2],axis=1,keys=["d1","d2"])

  d1     d2
   A   B  A   C
0  1  11  1  15
1  2  12  2  16
2  3  13  3  17
3  4  14  4  18

In [40]:
d1 = pd.DataFrame({"A":[1,2,3,4]})
d2 = pd.DataFrame({"A":[1,2,3,4],"C":[15,16,17,18]})
pd.concat([d1,d2])

   A     C
0  1   NaN
1  2   NaN
2  3   NaN
3  4   NaN
0  1  15.0
1  2  16.0
2  3  17.0
3  4  18.0

In [41]:
d1 = pd.DataFrame({"D":[1,2,3,4]})
d2 = pd.DataFrame({"A":[1,2,3,4],"C":[15,16,17,18]})
pd.concat([d1,d2])

     D    A     C
0  1.0  NaN   NaN
1  2.0  NaN   NaN
2  3.0  NaN   NaN
3  4.0  NaN   NaN
0  NaN  1.0  15.0
1  NaN  2.0  16.0
2  NaN  3.0  17.0
3  NaN  4.0  18.0

# Random Data Into Sequence

In [42]:
import pandas as pd

# Group By

In [2]:
var = pd.DataFrame({"name":["a","b","c","d","a","b","a","b","a","c","c","d"],
                    "S_1":[12,11,13,14,15,16,17,15,25,23,26,30],
                    "S_2":[22,1,23,10,35,10,19,12,55,27,29,31]
                   })
var

   name  S_1  S_2
0     a   12   22
1     b   11    1
2     c   13   23
3     d   14   10
4     a   15   35
5     b   16   10
6     a   17   19
7     b   15   12
8     a   25   55
9     c   23   27
10    c   26   29
11    d   30   31

In [4]:
var_new = var.groupby("name")
var_new

In [5]:
for i,j in var_new:
    print(i)
    print(j)
    print()

a
  name  S_1  S_2
0    a   12   22
4    a   15   35
6    a   17   19
8    a   25   55

b
  name  S_1  S_2
1    b   11    1
5    b   16   10
7    b   15   12

c
   name  S_1  S_2
2     c   13   23
9     c   23   27
10    c   26   29

d
   name  S_1  S_2
3     d   14   10
11    d   30   31

In [6]:
var_new.get_group("a")

  name  S_1  S_2
0    a   12   22
4    a   15   35
6    a   17   19
8    a   25   55

In [7]:
var_new.min()

      S_1  S_2
name
a      12   19
b      11    1
c      13   23
d      14   10

In [9]:
var_new.max()

      S_1  S_2
name
a      25   55
b      16   12
c      26   29
d      30   31

In [10]:
var_new.mean()

            S_1        S_2
name
a     17.250000  32.750000
b     14.000000   7.666667
c     20.666667  26.333333
d     22.000000  20.500000

In [13]:
li = list(var_new)
li

[('a',
    name  S_1  S_2
  0    a   12   22
  4    a   15   35
  6    a   17   19
  8    a   25   55),
 ('b',
    name  S_1  S_2
  1    b   11    1
  5    b   16   10
  7    b   15   12),
 ('c',
     name  S_1  S_2
  2     c   13   23
  9     c   23   27
  10    c   26   29),
 ('d',
     name  S_1  S_2
  3     d   14   10
  11    d   30   31)]

# Join

In [14]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 = pd.DataFrame({"C":[100,200,300,40],"D":[15,16,17,18]})
var1.join(var2)

   A   B    C   D
0  1  11  100  15
1  2  12  200  16
2  3  13  300  17
3  4  14   40  18

In [18]:
var1 = pd.DataFrame({"A":[1,2,4,4],"B":[11,13,12,14]})
var2 = pd.DataFrame({"C":[100,200],"D":[15,16]})
var1.join(var2)

   A   B      C     D
0  1  11  100.0  15.0
1  2  13  200.0  16.0
2  4  12    NaN   NaN
3  4  14    NaN   NaN

In [19]:
var2.join(var1)

     C   D  A   B
0  100  15  1  11
1  200  16  2  13

In [21]:
var1 = pd.DataFrame({"A":[1,2,4,4],"B":[11,13,12,14]},index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[100,200],"D":[15,16]},index=["a","b"])
var1.join(var2)

   A   B      C     D
a  1  11  100.0  15.0
b  2  13  200.0  16.0
c  4  12    NaN   NaN
d  4  14    NaN   NaN

In [22]:
var1 = pd.DataFrame({"A":[1,2,4,4],"B":[11,13,12,14]},index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[100,200],"D":[15,16]},index=["a","b"])
var1.join(var2,how="inner")

   A   B    C   D
a  1  11  100  15
b  2  13  200  16

In [23]:
var1 = pd.DataFrame({"A":[1,2,4,4],"B":[11,13,12,14]},index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[100,200],"D":[15,16]},index=["a","b"])
var1.join(var2,how="outer")

   A   B      C     D
a  1  11  100.0  15.0
b  2  13  200.0  16.0
c  4  12    NaN   NaN
d  4  14    NaN   NaN

In [24]:
var1 = pd.DataFrame({"A":[1,2,4,4],"B":[11,13,12,14]},index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[100,200],"D":[15,16]},index=["a","b"])
var1.join(var2,how="left")

   A   B      C     D
a  1  11  100.0  15.0
b  2  13  200.0  16.0
c  4  12    NaN   NaN
d  4  14    NaN   NaN

In [25]:
var1 = pd.DataFrame({"A":[1,2,4,4],"B":[11,13,12,14]},index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[100,200],"D":[15,16]},index=["a","b"])
var1.join(var2,how="right")

   A   B    C   D
a  1  11  100  15
b  2  13  200  16

In [36]:
var1 = pd.DataFrame({"A":[1,2,4,4],"B":[11,13,12,14]},index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[100,200],"B":[15,16]},index=["a","b"])
var1.join(var2,how="outer",lsuffix="Name",rsuffix="ID")

   A  BName      C   BID
a  1     11  100.0  15.0
b  2     13  200.0  16.0
c  4     12    NaN   NaN
d  4     14    NaN   NaN

# Append

In [39]:
var1 = pd.DataFrame({"A":[1,2,4,4],"B":[11,13,12,14]})
var2 = pd.DataFrame({"C":[100,200],"B":[15,16]})
var1.append(var2)

C:\Users\saransh\AppData\Local\Temp\ipykernel_6264\4198971406.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  var1.append(var2)

     A   B      C
0  1.0  11    NaN
1  2.0  13    NaN
2  4.0  12    NaN
3  4.0  14    NaN
0  NaN  15  100.0
1  NaN  16  200.0

In [40]:
var1 = pd.DataFrame({"A":[1,2,4,4],"B":[11,13,12,14]})
var2 = pd.DataFrame({"C":[100,200],"B":[15,16]})
var1.append(var2,ignore_index=True)

C:\Users\saransh\AppData\Local\Temp\ipykernel_6264\674241822.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  var1.append(var2,ignore_index=True)

     A   B      C
0  1.0  11    NaN
1  2.0  13    NaN
2  4.0  12    NaN
3  4.0  14    NaN
4  NaN  15  100.0
5  NaN  16  200.0

# Reshape

# Melt

In [41]:
import pandas as pd
var = pd.DataFrame({"days":[1,2,3,4,5,6,7],
                    "eng":[10,11,12,13,14,15,16],
                    "maths":[17,18,19,20,21,22,23]
                   })
var

   days  eng  maths
0     1   10     17
1     2   11     18
2     3   12     19
3     4   13     20
4     5   14     21
5     6   15     22
6     7   16     23

In [42]:
pd.melt(var)

   variable  value
0      days      1
1      days      2
2      days      3
3      days      4
4      days      5
5      days      6
6      days      7
7       eng     10
8       eng     11
9       eng     12
10      eng     13
11      eng     14
12      eng     15
13      eng     16
14    maths     17
15    maths     18
16    maths     19
17    maths     20
18    maths     21
19    maths     22
20    maths     23

In [43]:
pd.melt(var,id_vars=["eng"])

    eng variable  value
0    10     days      1
1    11     days      2
2    12     days      3
3    13     days      4
4    14     days      5
5    15     days      6
6    16     days      7
7    10    maths     17
8    11    maths     18
9    12    maths     19
10   13    maths     20
11   14    maths     21
12   15    maths     22
13   16    maths     23

In [45]:
pd.melt(var,id_vars=["days"])

    days variable  value
0      1      eng     10
1      2      eng     11
2      3      eng     12
3      4      eng     13
4      5      eng     14
5      6      eng     15
6      7      eng     16
7      1    maths     17
8      2    maths     18
9      3    maths     19
10     4    maths     20
11     5    maths     21
12     6    maths     22
13     7    maths     23

In [46]:
pd.melt(var,id_vars=["days"],var_name="python")

    days python  value
0      1    eng     10
1      2    eng     11
2      3    eng     12
3      4    eng     13
4      5    eng     14
5      6    eng     15
6      7    eng     16
7      1  maths     17
8      2  maths     18
9      3  maths     19
10     4  maths     20
11     5  maths     21
12     6  maths     22
13     7  maths     23

In [48]:
pd.melt(var,id_vars=["days"],var_name="python",value_name="marks")

    days python  marks
0      1    eng     10
1      2    eng     11
2      3    eng     12
3      4    eng     13
4      5    eng     14
5      6    eng     15
6      7    eng     16
7      1  maths     17
8      2  maths     18
9      3  maths     19
10     4  maths     20
11     5  maths     21
12     6  maths     22
13     7  maths     23

# Pivot

In [53]:
import pandas as pd
var = pd.DataFrame({"days":[1,2,3,4,5,6,7],
                    "st_name":["a","b","c","d","e","f","g"],
                    "eng":[10,11,12,13,14,15,16],
                    "maths":[17,18,19,20,21,22,23]
                   })
var

   days st_name  eng  maths
0     1       a   10     17
1     2       b   11     18
2     3       c   12     19
3     4       d   13     20
4     5       e   14     21
5     6       f   15     22
6     7       g   16     23

In [54]:
var.pivot(index="days",columns="st_name")

          eng                                     maths                    \
st_name     a     b     c     d     e     f     g     a     b     c     d
days
1        10.0   NaN   NaN   NaN   NaN   NaN   NaN  17.0   NaN   NaN   NaN
2         NaN  11.0   NaN   NaN   NaN   NaN   NaN   NaN  18.0   NaN   NaN
3         NaN   NaN  12.0   NaN   NaN   NaN   NaN   NaN   NaN  19.0   NaN
4         NaN   NaN   NaN  13.0   NaN   NaN   NaN   NaN   NaN   NaN  20.0
5         NaN   NaN   NaN   NaN  14.0   NaN   NaN   NaN   NaN   NaN   NaN
6         NaN   NaN   NaN   NaN   NaN  15.0   NaN   NaN   NaN   NaN   NaN
7         NaN   NaN   NaN   NaN   NaN   NaN  16.0   NaN   NaN   NaN   NaN


st_name     e     f     g
days
1         NaN   NaN   NaN
2         NaN   NaN   NaN
3         NaN   NaN   NaN
4         NaN   NaN   NaN
5        21.0   NaN   NaN
6         NaN  22.0   NaN
7         NaN   NaN  23.0

In [55]:
var = pd.DataFrame({"days":[1,2,3,4,5,6,7],
                    "st_name":["a","b","a","b","a","b","a"],
                    "eng":[10,11,12,13,14,15,16],
                    "maths":[17,18,19,20,21,22,23]
                   })
var.pivot(index="days",columns="st_name")

          eng       maths
st_name     a     b     a     b
days
1        10.0   NaN  17.0   NaN
2         NaN  11.0   NaN  18.0
3        12.0   NaN  19.0   NaN
4         NaN  13.0   NaN  20.0
5        14.0   NaN  21.0   NaN
6         NaN  15.0   NaN  22.0
7        16.0   NaN  23.0   NaN